@import 'mixin';
@import 'normalize';

.header {
    padding: 0.1px;
    
    &__bg {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
            url(../images/pageheader-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
    }

    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
        position: relative;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--brand {
            color: var(--white);
            font-weight: 500;
            font-size: 26px;
        }

        &--toggle {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            cursor: pointer;

            &--icon {
                background-color: var(--white);
                width: 25px;
                height: 3px;
                border-radius: 5px;
                transition: 1s;
            }

            &.active &--icon {
                background-color: var(--orange);
            }

            &.active &--icon:nth-child(1) {
                transform: rotate(45deg);
                transform-origin: 10% 90%;
            }

            &.active &--icon:nth-child(2) {
                opacity: 0;
            }

            &.active &--icon:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: 10% 30%;
            }

            &:hover &--icon {
                background-color: var(--orangehover);
            }
        }

        &--nav {
            position: absolute;
            top: 70px;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            background-color: var(--darkbluehover);
            border-radius: 5px;

            &.active {
                height: 280px;
                padding: 12px;
            }
        }

        &--menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
        }

        &--link {
            color: var(--white);
            font-weight: 700;
            transition: .5s;

            &:hover,
            &:focus {
                color: var(--orangehover);
            }
        }

        &--btn {
            @include orangeNav;
        }
    }

    &__home {
        color: var(--white);

        &--description {
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        &--firstheading {
            text-transform: capitalize;
            text-align: center;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }

        &--buttongroup {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &--cta:nth-child(1) {
            @include orangeBtn;
        }

        &--cta:nth-child(2) {
            @include darkblueBtn;
        }
    }

    @media screen and (min-width:768px) {
        &__home {
            &--firstheading {
                font-size: 42px;
            }
        }
    }

    @media screen and (min-width:992px) {
        &__bg {
            height: 550px;
        }

        &__top {
            &--toggle {
                display: none;
            }

            &--nav {
                position: initial;
                top: initial;
                left: initial;
                width: unset;
                transform: initial;
                height: unset;
                overflow: hidden;
                background-color: transparent;
                border-radius: 0;
            }

            &--menu {
                flex-direction: row;
                gap: 25px;
                text-align: initial;
            }
        }

        &__home {
            &--description {
                height: 470px;
                width: 85%;
                margin: 0 auto;
            }

            &--firstheading {
                font-size: 52px;
            }

            &--paragraph {
                font-size: 16px;
            }
        }
    }
}

.sectionOne {
    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "article"
            "aside";
        gap: 20px;
    }

    &__article {
        grid-area: article;

        &--secondheading {
            margin-bottom: 20px;
            text-align: center;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }
    }

    &__aside {
        grid-area: aside;

        &--img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }

    @media screen and (min-width:768px) {
        &__main {
            @include my-50;
        }

        &__body {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "article aside";
            align-items: center;
        }

        &__article {
            grid-area: article;
            padding-right: 20px;

            &--secondheading {
                margin-bottom: 20px;
                text-align: initial;
                font-size: 32px;
            }

            &--paragraph {
                font-size: 16px;
                text-align: initial;
            }
        }

        &__aside {
            grid-area: aside;
        }
    }

    @media screen and (min-width:992px) {
        &__main {
            @include my-75;
        }

    }
}

.sectionTwo {
    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
    }

    &__top {
        &--secondheading {
            margin-bottom: 10px;
            text-align: center;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }
    }

    &__middle {
        margin: 35px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "pictureOne"
            "pictureTwo"
            "pictureThree"
            "pictureFour"
            "pictureFive"
            "pictureSix"
            "pictureSeven"
            "pictureEight"
            "pictureNine";
        gap: 25px;

        &--picture {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.75);

            &:nth-child(1) {
                grid-area: pictureOne;
            }

            &:nth-child(2) {
                grid-area: pictureTwo;
            }

            &:nth-child(3) {
                grid-area: pictureThree;
            }

            &:nth-child(4) {
                grid-area: pictureFour;
            }

            &:nth-child(5) {
                grid-area: pictureFive;
            }

            &:nth-child(6) {
                grid-area: pictureSix;
            }

            &:nth-child(7) {
                grid-area: pictureSeven;
            }

            &:nth-child(8) {
                grid-area: pictureEight;
            }

            &:nth-child(9) {
                grid-area: pictureNine;
            }
        }

        &--img {
            display: block;
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        &--description {
            margin-top: 10px;
        }

        &--paragraph {
            text-transform: capitalize;
            text-align: center;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;

        &--cta {
            @include orangeBtn;
        }
    }

    @media screen and (min-width:768px) {
        &__main {
            @include my-50;
        }

        &__top {
            &--secondheading {
                margin-bottom: 20px;
                font-size: 32px;
            }

            &--paragraph {
                font-size: 16px;
            }
        }

        &__middle {
            margin: 35px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "pictureOne pictureTwo"
                "pictureThree pictureFour"
                "pictureFive pictureSix"
                "pictureSeven pictureEight"
                "pictureNine  .";
            gap: 25px;

            &--picture {
                &:nth-child(1) {
                    grid-area: pictureOne;
                }

                &:nth-child(2) {
                    grid-area: pictureTwo;
                }

                &:nth-child(3) {
                    grid-area: pictureThree;
                }

                &:nth-child(4) {
                    grid-area: pictureFour;
                }

                &:nth-child(5) {
                    grid-area: pictureFive;
                }

                &:nth-child(6) {
                    grid-area: pictureSix;
                }

                &:nth-child(7) {
                    grid-area: pictureSeven;
                }

                &:nth-child(8) {
                    grid-area: pictureEight;
                }

                &:nth-child(9) {
                    grid-area: pictureNine;
                }
            }
        }
    }

    @media screen and (min-width:992px) {
        &__main {
            @include my-75;
        }

        &__top {
            &--secondheading {
                margin-bottom: 5px;
            }
        }

        &__middle {
            margin: 60px 0;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "pictureOne pictureTwo pictureThree"
                "pictureFour pictureFive pictureSix"
                "pictureSeven pictureEight pictureNine";
            gap: 35px;

            &--picture {
                &:nth-child(1) {
                    grid-area: pictureOne;
                }

                &:nth-child(2) {
                    grid-area: pictureTwo;
                }

                &:nth-child(3) {
                    grid-area: pictureThree;
                }

                &:nth-child(4) {
                    grid-area: pictureFour;
                }

                &:nth-child(5) {
                    grid-area: pictureFive;
                }

                &:nth-child(6) {
                    grid-area: pictureSix;
                }

                &:nth-child(7) {
                    grid-area: pictureSeven;
                }

                &:nth-child(8) {
                    grid-area: pictureEight;
                }

                &:nth-child(9) {
                    grid-area: pictureNine;
                }
            }
        }
    }
}

.sectionThree {
    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
    }

    &__header {
        &--secondheading {
            margin-bottom: 10px;
            text-align: center;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }
    }

    &__body {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "pictureOne"
            "pictureTwo"
            "pictureThree"
            "pictureFour";
        gap: 20px;

        &--picture {
            &:nth-child(1) {
                grid-area: pictureOne;
            }

            &:nth-child(2) {
                grid-area: pictureTwo;
            }

            &:nth-child(3) {
                grid-area: pictureThree;
            }

            &:nth-child(4) {
                grid-area: pictureFour;
            }
        }

        &--img {
            display: block;
            width: 100%;
            height: 390px;
            object-fit: cover;
            object-position: top;
            border-radius: 5px;
        }

        &--description {
            margin-top: 10px;
        }

        &--paragraph {
            text-align: center;
            text-transform: capitalize;
        }
    }

    @media screen and (min-width:768px) {
        &__main {
            @include my-50;
        }

        &__header {
            &--secondheading {
                margin-bottom: 20px;
                font-size: 32px;
            }

            &--paragraph {
                font-size: 16px;
            }
        }

        &__body {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "pictureOne pictureTwo"
                "pictureThree pictureFour";

            &--picture {
                &:nth-child(1) {
                    grid-area: pictureOne;
                }

                &:nth-child(2) {
                    grid-area: pictureTwo;
                }

                &:nth-child(3) {
                    grid-area: pictureThree;
                }

                &:nth-child(4) {
                    grid-area: pictureFour;
                }
            }
        }
    }

    @media screen and (min-width:992px) {
        &__main {
            @include my-75;
        }

        &__header {
            &--secondheading {
                margin-bottom: 5px;
            }
        }

        &__body {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "pictureOne pictureTwo pictureThree pictureFour";


            &--picture {
                &:nth-child(1) {
                    grid-area: pictureOne;
                }

                &:nth-child(2) {
                    grid-area: pictureTwo;
                }

                &:nth-child(3) {
                    grid-area: pictureThree;
                }

                &:nth-child(4) {
                    grid-area: pictureFour;
                }
            }
        }
    }
}

.sectionFour {
    padding: 0.1px;

    &__bg {
        background-image: url(../images/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
    }

    &__top {
        color: var(--white);

        &--secondheading {
            margin-bottom: 10px;
            text-align: center;
            text-transform: capitalize;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }
    }

    &__middle {
        &--swiper {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;

            &-slide {
                background-color: var(--white);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding: 40px 20px;
                border-radius: 5px;
            }

            &-img {
                display: block;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }

            &-paragraph {
                text-align: center;
                font-size: 14px;
            }

            &-middleheading {
                text-transform: capitalize;
                font-weight: 300;
                color: var(--orange);
            }
        }
    }

    @media screen and (min-width:768px) {
        &__main {
            @include my-50;
        }

        &__top {
            &--secondheading {
                margin-bottom: 20px;
                font-size: 32px;
            }

            &--paragraph {
                font-size: 16px;
            }
        }
    }

    @media screen and (min-width:992px) {
        &__main {
            @include my-75;
        }

        &__top {
            &--secondheading {
                margin-bottom: 5px;
            }
        }
    }
}

.sectionFive {
    padding: 0.1px;

    &__bg {
        background-image: url(../images/img-form.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
    }

    &__top {
        &--secondheading {
            margin-bottom: 10px;
            text-align: center;
            text-transform: capitalize;
        }

        &--paragraph {
            font-size: 14px;
            text-align: center;
        }
    }

    &__middle {
        margin-top: 50px;

        &--form {
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: 448px;
            padding: 0 20px;
            border-radius: 5px;
            box-shadow: 3px 3px 19px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 3px 3px 19px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 3px 3px 19px 3px rgba(0, 0, 0, 0.75);

            &-input {
                width: 100%;
                height: 42px;
                padding: 10px;
                font-size: 13px;
                border-radius: 2px;
                border: 1px solid rgb(102, 101, 101);
            }

            &-textarea {
                width: 100%;
                height: 65px;
                resize: none;
                padding: 10px;
                font-size: 13px;
                border-radius: 2px;
                border: 1px solid rgb(102, 101, 101);
            }

            &-btn {
                @include orangeBtn;
                border: none;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width:768px) {
        &__main {
            @include my-50;
        }

        &__top {
            &--secondheading {
                margin-bottom: 20px;
                font-size: 32px;
            }

            &--paragraph {
                font-size: 16px;
            }
        }

        &__middle {
            &--form {
                width: 500px;
                margin: 0 auto;
                padding: 0 45px;
            }
        }
    }

    @media screen and (min-width:992px) {
        &__main {
            @include my-75;
        }

        &__top {
            &--secondheading {
                margin-bottom: 5px;
            }
        }

        &__middle {
            &--form {
                width: 450px;
            }
        }
    }
}

.footer {
    &__main {
        @include content-width;
        @include my-25;
        @include px-20;
        text-align: center;

        &--cta {
            color: var(--orange);
            transition: 0.5s;

            &:hover,
            &:focus {
                color: var(--orangehover);
            }
        }
    }
}